@use '../abstracts/' as *;

.button {
  // Some default removed from the btn.
  display: inline-flex;
  cursor: pointer;
  transition: 275ms ease;
  padding: size(22);
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: clr(neutral, 900);
  outline-color: transparent;

  &:is(:hover, :focus) {
    background-color: clr(neutral, 400);
  }
}
